<!DOCTYPE html>
  <head>
    <title>Pemberley All Sky Cam</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type=text/javascript>
    var pid = 0;
    var status = '';
    var tid;
            $(document).ready(function() {
              $('a#snap-button').bind('click', function() {
                $.getJSON('/snap',
                    function(data) {
                      pid = data.pid
                      tid = setInterval(update_status, 2000);
                });
                return false;
              });


              function update_status() {
                $.getJSON('/status?pid='+pid,
                    function(data) {
                      $('#camera-status').html(data.status)
                      if (data.status == 'complete'){
                        clearInterval(tid);
                      }
                });
              }
            });
    </script>
  </head>
  <body>
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-one-quarter">
            <div class="">Camera Status: <span id="camera-status"></span></div>
            <a href="#" id="snap-button" class="button">Snap</a>
          </div>
          <div class="column">
            <h1 class="title">
              All Sky Camera {{name}}
            </h1>
            <p class="subtitle">
              <img src="/static/snap.jpg" alt="Allsky camera snap" />
            </p>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
